<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.googlecode.goclipse.launch.goLaunchType">
<stringAttribute key="MAIN_FILE" value="src/main"/>
<stringAttribute key="PROJECT_NAME" value="mutex.go"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mutex.go/src/main"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="2"/>
</listAttribute>
</launchConfiguration>
